/DinnerConstructor/.idea/.gitignore
/DinnerConstructor/.idea/misc.xml
/DinnerConstructor/.idea/modules.xml
/DinnerConstructor/.idea/vcs.xml
/DinnerConstructor/src/Main.java
/DinnerConstructor/.gitignore
/ExpensesChecker/.idea/.gitignore
/ExpensesChecker/.idea/gradle.xml
/ExpensesChecker/.idea/misc.xml
/ExpensesChecker/.idea/vcs.xml
/ExpensesChecker/ExpensesChecker/gradle/wrapper/gradle-wrapper.jar
/ExpensesChecker/ExpensesChecker/gradle/wrapper/gradle-wrapper.properties
/ExpensesChecker/ExpensesChecker/src/main/java/org/example/AbstractChatService.java
/ExpensesChecker/ExpensesChecker/src/main/java/org/example/ChatGPTService.java
/ExpensesChecker/ExpensesChecker/src/main/java/org/example/Main.java
/ExpensesChecker/ExpensesChecker/src/main/java/org/example/RecognizePhoto.java
/ExpensesChecker/ExpensesChecker/src/main/java/org/example/TelegramBot.java
/ExpensesChecker/ExpensesChecker/.gitignore
/ExpensesChecker/ExpensesChecker/build.gradle
/ExpensesChecker/ExpensesChecker/gradlew
/ExpensesChecker/ExpensesChecker/gradlew.bat
/ExpensesChecker/ExpensesChecker/settings.gradle
/m1-t6-jdk/.idea/vcs.xml
/m1-t6-jdk/.idea/workspace.xml
/Practicum/.idea/workspace.xml
/SpringApp/.mvn/wrapper/maven-wrapper.properties
/SpringApp/src/main/java/ru/education/spring/course/springapp/SpringAppApplication.java
/SpringApp/src/main/resources/application.properties
/SpringApp/src/test/java/ru/education/spring/course/springapp/SpringAppApplicationTests.java
/SpringApp/.gitignore
/SpringApp/mvnw
/SpringApp/mvnw.cmd
/SpringApp/pom.xml
/SpringApp1/.idea/.gitignore
/SpringApp1/.idea/encodings.xml
/SpringApp1/.idea/misc.xml
/SpringApp1/.idea/vcs.xml
/SpringApp1/src/main/java/org/example/Main.java
/SpringApp1/src/main/java/ru/spring/education/course/ClassicalMusic.java
/SpringApp1/src/main/java/ru/spring/education/course/Music.java
/SpringApp1/src/main/java/ru/spring/education/course/MusicPlayer.java
/SpringApp1/src/main/java/ru/spring/education/course/musicType.java
/SpringApp1/src/main/java/ru/spring/education/course/RockMusic.java
/SpringApp1/src/main/java/ru/spring/education/course/SomeMusic.java
/SpringApp1/src/main/java/ru/spring/education/course/SpringConfig.java
/SpringApp1/src/main/java/ru/spring/education/course/TestBean.java
/SpringApp1/src/main/java/ru/spring/education/course/TestSpring.java
/SpringApp1/src/main/resources/musicPlayer.properties
/SpringApp1/.gitignore
/SpringApp1/pom.xml
/SpringMVC/.idea/.gitignore
/SpringMVC/.idea/compiler.xml
/SpringMVC/.idea/encodings.xml
/SpringMVC/.idea/httpClient.xml
/SpringMVC/.idea/jarRepositories.xml
/SpringMVC/.idea/misc.xml
/SpringMVC/.idea/vcs.xml
/SpringMVC/target/classes/ru/spring/education/mvc/course/config/Controllers/FirstController.class
/SpringMVC/target/classes/ru/spring/education/mvc/course/config/MySpringMvcDispatcherSerlvetIntitializer.class
/SpringMVC/target/classes/ru/spring/education/mvc/course/config/SpringConfig.class
/SpringMVC/target/spring-mvc-app1/META-INF/MANIFEST.MF
/SpringMVC/target/spring-mvc-app1/WEB-INF/classes/ru/spring/education/mvc/course/config/Controllers/FirstController.class
/SpringMVC/target/spring-mvc-app1/WEB-INF/classes/ru/spring/education/mvc/course/config/MySpringMvcDispatcherSerlvetIntitializer.class
/SpringMVC/target/spring-mvc-app1/WEB-INF/classes/ru/spring/education/mvc/course/config/SpringConfig.class
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/attoparser-2.0.5.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/jackson-annotations-2.12.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/jackson-core-2.12.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/jackson-databind-2.12.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/jackson-datatype-jdk8-2.12.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/jackson-datatype-jsr310-2.12.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/jackson-module-parameter-names-2.12.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/jakarta.annotation-api-1.3.5.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/jul-to-slf4j-1.7.32.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/log4j-api-2.14.1.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/log4j-to-slf4j-2.14.1.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/logback-classic-1.2.5.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/logback-core-1.2.5.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/slf4j-api-1.7.25.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/snakeyaml-1.28.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-aop-5.2.1.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-beans-5.2.1.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-boot-2.5.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-boot-autoconfigure-2.5.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-boot-starter-2.5.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-boot-starter-json-2.5.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-boot-starter-logging-2.5.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-boot-starter-thymeleaf-2.5.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-boot-starter-tomcat-2.5.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-boot-starter-web-2.5.4.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-context-5.2.1.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-core-5.2.1.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-expression-5.2.1.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-jcl-5.2.1.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-web-5.2.1.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/spring-webmvc-5.2.1.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/thymeleaf-3.0.11.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/thymeleaf-extras-java8time-3.0.4.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/thymeleaf-spring5-3.0.11.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/tomcat-embed-core-9.0.52.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/tomcat-embed-el-9.0.52.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/tomcat-embed-websocket-9.0.52.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/lib/unbescape-1.1.6.RELEASE.jar
/SpringMVC/target/spring-mvc-app1/WEB-INF/views/first-page.html
/SpringMVC/target/spring-mvc-app1/WEB-INF/views/second-page.html
/SpringMVC/target/SpringMVC/META-INF/MANIFEST.MF
/SpringMVC/target/SpringMVC/WEB-INF/classes/ru/spring/education/mvc/course/config/Controllers/FirstController.class
/SpringMVC/target/SpringMVC/WEB-INF/classes/ru/spring/education/mvc/course/config/SpringConfig.class
/SpringMVC/target/SpringMVC/WEB-INF/classes/ru/spring/education/mvc/course/config/SpringMVCServletDispatcherInitializer.class
/SpringMVC/target/SpringMVC/WEB-INF/lib/attoparser-2.0.6.RELEASE.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/attoparser-2.0.7.RELEASE.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/jackson-annotations-2.14.1.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/jackson-core-2.14.1.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/jackson-databind-2.14.1.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/jackson-datatype-jdk8-2.14.1.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/jackson-datatype-jsr310-2.14.1.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/jackson-module-parameter-names-2.14.1.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/jakarta.annotation-api-2.1.1.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/jul-to-slf4j-2.0.4.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/log4j-api-2.19.0.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/log4j-to-slf4j-2.19.0.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/logback-classic-1.4.5.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/logback-core-1.4.5.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/micrometer-commons-1.10.2.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/micrometer-commons-1.12.10.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/micrometer-observation-1.10.2.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/micrometer-observation-1.12.10.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/slf4j-api-2.0.4.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/slf4j-api-2.0.7.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/snakeyaml-1.33.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-aop-6.0.2.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-aop-6.1.13.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-beans-6.0.2.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-beans-6.1.13.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-boot-3.0.0.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-boot-autoconfigure-3.0.0.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-boot-starter-3.0.0.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-boot-starter-json-3.0.0.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-boot-starter-logging-3.0.0.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-boot-starter-web-3.0.0.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-context-6.1.13.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-core-6.1.13.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-expression-6.0.2.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-expression-6.1.13.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-jcl-6.0.2.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-jcl-6.1.13.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-web-6.1.13.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/spring-webmvc-6.1.13.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/thymeleaf-3.1.0.RELEASE.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/thymeleaf-3.1.2.RELEASE.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/thymeleaf-spring5-3.1.2.RELEASE.jar
/SpringMVC/target/SpringMVC/WEB-INF/lib/unbescape-1.1.6.RELEASE.jar
/SpringMVC/target/SpringMVC/WEB-INF/views/first-page.html
/SpringMVC/target/SpringMVC/WEB-INF/views/second-page.html
/SpringMVC/target/SpringMVC/WEB-INF/applicationContextMVC.xml
/SpringMVC/target/SpringMVC/WEB-INF/web.xml
/SpringMVC/target/spring-mvc-app1.war
/SpringMVC/target/SpringMVC.war
/Sprint10/.idea/.gitignore
/Sprint10/.idea/encodings.xml
/Sprint10/.idea/misc.xml
/Sprint10/.idea/vcs.xml
/Sprint10/src/main/java/ru/education/spring/course/Main.java
/Sprint10/.gitignore
/Sprint10/pom.xml
/UML/.idea/.gitignore
/UML/.idea/misc.xml
/UML/.idea/modules.xml
/UML/.idea/vcs.xml
/UML/src/Description/CaseAuthorization.puml
/UML/src/Main.java
/UML/.gitignore
/UML/BPMN.bpmn20.xml
/XMLtoXLSX/.idea/.gitignore
/XMLtoXLSX/.idea/misc.xml
/XMLtoXLSX/.idea/modules.xml
/XMLtoXLSX/.idea/vcs.xml
/XMLtoXLSX/XMLtoXLSX.iml
/base64-encoder/
/CRUDAppSpring/
/CRUDSpringApp/
/dinner-constructor/
/java-kanban/
/m1-t6-jar/
/m1-t23-junit/
/maven-surefire-practice/
/minersl4j/
/Sprint4/
/Sprint5/
/Sprint6/
/Sprint9/
/Sprint9_JSON/
/TelegramBotNotes/
/XMLtoXLS/
/CRUDSpringApp.zip
/dinner-constructor.zip
/dinner-constructor_fixed.zip
/ExpensesChecker.zip
